## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys

#Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avarua,CK,-21.2078,-159.7750,68.05,88,11,1.14,few clouds
1,1,Usta Muhammad,PK,28.1794,68.0445,89.65,25,0,4.79,clear sky
2,2,Mataura,NZ,-46.1927,168.8643,47.48,91,73,2.77,broken clouds
3,3,Bow Island,CA,49.8668,-111.3684,46.42,63,49,2.30,scattered clouds
4,4,Lompoc,US,34.6391,-120.4579,65.57,83,90,0.00,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 90
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

Empty DataFrame
Columns: [City_ID, City, Country, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Current Description]
Index: []

In [5]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City_ID                703
City                   703
Country                700
Lat                    703
Lng                    703
Max Temp               703
Humidity               703
Cloudiness             703
Wind Speed             703
Current Description    703
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.dropna()
clean_df.count()

City_ID                700
City                   700
Country                700
Lat                    700
Lng                    700
Max Temp               700
Humidity               700
Cloudiness             700
Wind Speed             700
Current Description    700
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,68.05,few clouds,-21.2078,-159.7750,
1,Usta Muhammad,PK,89.65,clear sky,28.1794,68.0445,
2,Mataura,NZ,47.48,broken clouds,-46.1927,168.8643,
3,Bow Island,CA,46.42,scattered clouds,49.8668,-111.3684,
4,Lompoc,US,65.57,overcast clouds,34.6391,-120.4579,
...,...,...,...,...,...,...,...
698,Avera,US,77.45,overcast clouds,33.1940,-82.5271,
699,Acapulco,MX,85.82,few clouds,16.8634,-99.8901,
700,Smidovich,RU,43.77,overcast clouds,48.6000,133.8167,
701,Benghazi,LY,77.09,clear sky,32.1167,20.0667,
702,Kiama,AU,60.01,overcast clouds,-34.6833,150.8667,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
missing_hotel_drop = hotel_df[hotel_df["Hotel Name"] == ""].index
hotel_df.drop(hotel_df[hotel_df["Hotel Name"] == ""].index, inplace = True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,68.05,few clouds,-21.2078,-159.7750,Paradise Inn
1,Usta Muhammad,PK,89.65,clear sky,28.1794,68.0445,Teshseel Colony
2,Mataura,NZ,47.48,broken clouds,-46.1927,168.8643,Ellie's Villa
3,Bow Island,CA,46.42,scattered clouds,49.8668,-111.3684,Pleasant View Lodge
4,Lompoc,US,65.57,overcast clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
...,...,...,...,...,...,...,...
697,Spencer,US,68.77,broken clouds,43.1414,-95.1444,Days Inn by Wyndham Hotel Spencer IA
699,Acapulco,MX,85.82,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
700,Smidovich,RU,43.77,overcast clouds,48.6000,133.8167,Gostinnitsa
701,Benghazi,LY,77.09,clear sky,32.1167,20.0667,Tibesti Hotel
702,Kiama,AU,60.01,overcast clouds,-34.6833,150.8667,The Sebel Kiama Harbourside

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))